/*
.audio-recorder-mic
- 1in x 1in
- inside elements are centered horizontally and vertically
 */
.audio-recorder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recorder-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 350px;
}

.App-header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.centeredFlexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}